<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      @for (tap of taps; track tap) {
        @if(tap.tap === "reports") {
          <ion-tab-button authDirective tab="{{tap.tap}}" href="{{tap.url}}">
            <ion-icon name="{{tap.icon}}"></ion-icon>
            <ion-label>{{tap.label}}</ion-label>
          </ion-tab-button>
        } @else {
          <ion-tab-button tab="{{tap.tap}}" href="{{tap.url}}">
            <ion-icon name="{{tap.icon}}"></ion-icon>
            <ion-label>{{tap.label}}</ion-label>
          </ion-tab-button>
        }
      }
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

