<app-header [dashboarName]="dashboarName"></app-header>
<ion-content>
  <ion-tabs (ionTabsDidChange)="onTabSelect($event)">
    <ion-tab-bar slot="bottom">
      @for (tap of taps; track tap) {
        @if(tap.tapId === "reports") {
          <ion-tab-button authDirective tab="{{tap.tapId}}" href="{{tap.url}}">
            <ion-icon name="{{tap.icon}}"></ion-icon>
            <ion-label>{{tap.label}}</ion-label>
          </ion-tab-button>
        } @else {
          <ion-tab-button tab="{{tap.tapId}}" href="{{tap.url}}">
            <ion-icon name="{{tap.icon}}"></ion-icon>
            <ion-label>{{tap.label}}</ion-label>
          </ion-tab-button>
        }
      }
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

