<ion-content [fullscreen]="true">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="filterForm">
        <mat-form-field style="width: 45%;">
          <mat-label>Financial Year</mat-label>
          <mat-select formControlName="financYear" [value]="'2025-2026'">
            <mat-option [value]="'2021-2022'">2021-2022</mat-option>
            <mat-option [value]="'2022-2023'">2022-2023</mat-option>
            <mat-option [value]="'2023-2024'">2023-2024</mat-option>
            <mat-option [value]="'2024-2025'">2024-2025</mat-option>
            <mat-option [value]="'2025-2026'">2025-2026</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="float-end" style="width: 45%;" name="flatNo" *ngIf="members.length" authDirective>
          <mat-label>Flat</mat-label>
          <mat-select formControlName="flatNo" [value]="userInfo.flatNo">
            @for (member of members; track member) {
            <mat-option [value]="member.flatNo">{{member.flatNo}}-{{member.userId}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel [expanded]="filter.flatNo !== '0'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bi bi-file-earmark-spreadsheet"></i>&nbsp;
          Maintainance
        </mat-panel-title>
        <mat-panel-description>
          Maintainance: {{maintainaceDetails.totalMaintainance}} <i class="bi bi-currency-rupee"></i>|
          Penalty: {{maintainaceDetails.totalPenalty}} <i class="bi bi-currency-rupee"></i>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <app-show-maintainance *ngIf="userInfo.flatNo"
        [filter]="filter"
        (maintainaceDetails)="onMaintainaceDetails($event)"></app-show-maintainance>
  
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel
      [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bi bi-file-earmark-spreadsheet"></i>&nbsp;
          Transaction's
        </mat-panel-title>
        <mat-panel-description>
          {{transactionType}}: {{transactionDet.totalAmt}} <i class="bi bi-currency-rupee"></i>|
          Approved: {{transactionDet.approvedAmt}} <i class="bi bi-currency-rupee"></i>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <app-show-transactions *ngIf="userInfo.flatNo"
        [filter]="filter"
        (transactionDet)="onTransactionDet($event)"
        (onTransactionSelect)="onTransactionSelect($event)"></app-show-transactions>
  
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel [expanded]="filter.flatNo === '0'" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="col-6">
            <i class="bi bi-cash-coin me-1"></i>&nbsp;
            Update transaction
          </div>
          @if(filter.flatNo === '0') {
            <div class="col-6 ms-4">
              Update Petty Cash &nbsp; | &nbsp;
              <span>balance amount: {{pettyCashSummary.balanceAmount}}rs</span>
            </div>
          }
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div class="row">
        <div class="col-12 col-md-6">
          <app-transaction *ngIf="userInfo.flatNo" [filter]="filter" [selectedTransaction]="selectedTransaction">
          </app-transaction>
        </div>
        <div class="col-12 col-md-6">
          <app-petty-cash-form authDirective></app-petty-cash-form>
        </div>
      </div>
  
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>