<app-header [dashboarName]="'User Dashboard'"></app-header>

<ion-content [fullscreen]="true">
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bi bi-file-earmark-spreadsheet"></i>
          Transaction's
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <app-show-transactions></app-show-transactions>
  
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="false"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="bi bi-cash-coin me-1"></i>
          Update transaction
        </mat-panel-title>
        <!-- <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description> -->
      </mat-expansion-panel-header>

      <app-transaction></app-transaction>

    </mat-expansion-panel>
  </mat-accordion>
</ion-content>