<form [formGroup]="transactionForm" (submit)="onSubmit()">
  <!-- <mat-form-field name="flatNo" *ngIf="members.length" authDirective>
    <mat-label>Flat</mat-label>
    <mat-select [value]="userInfo.flatNo" formControlName="flatNo">
      @for (member of members; track member) {
      <mat-option [value]="member.flatNo">{{member.flatNo}}-{{member.userId}}</mat-option>
      }
    </mat-select>
  </mat-form-field> -->

  <mat-form-field>
    <mat-label>Credit Amount</mat-label>
    <input matInput placeholder="" type="number" formControlName="creditAmount" name="creditAmount">
    <!-- @if (amount.invalid) {
            <mat-error>{{'Error'}}</mat-error>
          } -->
  </mat-form-field>

  <mat-form-field authDirective>
    <mat-label>Debit Amount</mat-label>
    <input matInput placeholder="" type="number" formControlName="debitAmount" name="debitAmount">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Transaction No/Cash</mat-label>
    <input matInput placeholder="Referance No/ID." formControlName="transactionCode" name="transactionCode">
    <mat-hint>Minimum last 4 caractors/digits.</mat-hint>
  </mat-form-field>

  <mat-checkbox authDirective *ngIf="_filter.flatNo == 0" formControlName="addPettyCash" name="addPettyCash">
    Petty Cash
  </mat-checkbox>

  <mat-form-field>
    <mat-label>Transaction Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="transactionDate" name="transactionDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint>MM/DD/YYYY</mat-hint>
  </mat-form-field>

  <!-- Optional fields-->
  <div class="text-end optional-fields" *ngIf="userInfo.type != 'admin'">
    <a mat-button class="fw-lighter" (click)="showOptionalFields=!showOptionalFields">
      <i class="bi bi-chevron-expand"></i>
      Optional fields</a>
  </div>

  <mat-form-field [ngClass]="!showOptionalFields ? 'hide-optional-fields' : ''">
    <mat-label>Transaction Details</mat-label>
    <input matInput placeholder="" formControlName="description" name="description">
    <mat-hint>Ex: Jan 2024 maintenance.</mat-hint>
  </mat-form-field>

  <mat-form-field [ngClass]="!showOptionalFields ? 'hide-optional-fields' : ''">
    <mat-label>Transaction Type</mat-label>
    <mat-select formControlName="transactionType" name="transactionType">
      @for (type of transactionTypes; track type) {
      <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field [ngClass]="!showOptionalFields ? 'hide-optional-fields' : ''">
    <mat-label>Receipt</mat-label>
    <input matInput placeholder="" formControlName="receiptNumber" name="receiptNumber">
  </mat-form-field>

  <div [ngClass]="!showOptionalFields ? 'hide-optional-fields' : ''">
    <mat-label>Upload Receipt/Bill</mat-label>
    <div style="position: relative;">
      <button (click)="takePicture()" type="button" mat-icon-button color="primary" aria-label="Upload receipt">
        <mat-icon>camera</mat-icon>
      </button>
      <ion-img *ngIf="billImage.dataUrl" class="bill-image" [src]="billImage.dataUrl"></ion-img>
    </div>
  </div>

  <button [disabled]="disableSubmitBtn()" type="submit" mat-raised-button color="primary">
    {{_selectedTransaction ? _selectedTransaction.action.toUpperCase() : 'submit' | uppercase}}
  </button>
</form>
